* {
    visibility: hidden;
    margin:0; padding:0;
}

.m-scoreboardStream__streamBlock * {
    visibility: visible;
    max-width: none;
    max-height: none;
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 10;*/
}

.m-scoreboardStream__topLayer, #scrollableRightMenuId, .fp-chromecast .fp-icon {
    display: none;
}
